{% extends 'student/student_base.html' %}

{% block title %}主页{% endblock %}

{% block main %}
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a class="maincolor" href="/polls/student/index/">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">主页</span></nav>
    <div class="Hui-article">
        <div class="Hui-wraper">
            <h2 class="page_title">主页</h2>
            <p><strong>姓名：</strong>{{ student.s_name }}</p>
            <p><strong>学号：</strong>{{ student.s_id }}</p>
            <p><strong>邮箱：</strong>{{ student.s_mail }}</p>
        </div>
    </div>
{% endblock %}