{% extends 'student/student_base.html' %}

{% block title %}课程信息{% endblock %}

{% block main %}
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a class="maincolor" href="/polls/student/index/">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">课程</span></nav>
    <div class="Hui-article">
        <div class="Hui-wraper">
            <h2 class="page_title">课程信息</h2>
            <p><strong>课程名称：</strong>{{ course.c_name }}</p>
            <p><strong>任课教师：</strong>{{ course.c_teacher.t_name }}</p>
            <p><strong>课程学院：</strong>{{ course.c_academy.a_name }}</p>
            <p><strong>课程专业：</strong>{{ course.c_major.m_name }}</p>
            <p><strong>课程日历：</strong></p>
            <table class="table table-border table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-c"></th>
                        <th class="text-c">星期一</th>
                        <th class="text-c">星期二</th>
                        <th class="text-c">星期三</th>
                        <th class="text-c">星期四</th>
                        <th class="text-c">星期五</th>
                        <th class="text-c">星期六</th>
                        <th class="text-c">星期日</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sch in schedule %}
                        {% if sch.type == 1 %}
                            <tr><th class="text-c">{{ sch.status }}</th>
                        {% elif sch.type == 2 %}
                            <td class="text-c">
                                {{ sch.course.ci_id.c_name }}
                            </td></tr>
                        {% elif sch.type == 3 %}
                            <td></td></tr>
                        {% elif sch.type == 4 %}
                            <td class="text-c">
                                {{ sch.course.ci_id.c_name }}<br>
                                {{ sch.course.ci_id.c_teacher.t_name }}<br>
                                {{ sch.course.ci_module }}节&nbsp;
                                {% if sch.course.ci_type == 0 %}
                                    单双周
                                {% elif sch.course.ci_type == 1 %}
                                    单周
                                {% elif sch.course.ci_type == 2 %}
                                    双周
                                {% endif %}
                                <br>
                                {{ sch.course.ci_classroom }}
                            </td>
                        {% elif sch.type == 5%}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if select == 0 %}
                <form action="/polls/student/addcourse/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value="{{ course.c_id }}" />
                    <input class="btn btn-primary radius" type="submit" value="选课" />
                    <input class="btn btn-primary radius" type="button" onclick="history.go(-1)" value="返回" />
                </form>
            {% elif select == 1 %}
                <form action="/polls/student/removecourse/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value="{{ course.c_id }}" />
                    <input class="btn btn-primary radius" type="submit" value="退课" />
                    <input class="btn btn-primary radius" type="button" onclick="history.go(-1)" value="返回" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}